//Variables
$columns-total: 12;
$gutter-width: 7px;

//Mixins
@mixin calc-columns($columns){

  @for $i from 1 through $columns {
    &.fs-rows-#{$i} {
      width: calc(100%/$i);
      padding-bottom: calc(100%/#{$i}); 
    }
  }

}

//Main SCSS
.fs-cell {

  float: left;
  position: relative;

  .fs-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: $gutter-width;
  }

  @include calc-columns($columns-total);

}

